#title{
    font-family:'Pacifico', cursive;
    color: #e91e63;
    font-size: 500%;
    text-align: center;
    margin-top: 100px;
}
.intro{
    border-style: inset;
    height: 100vh;
    background-image: url("../img/karthik-garikapati-oBbTc1VoT-0-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
#us{
    text-align: center;
    color: #e91e63;
}
#welcome{
    font-family:'Pacifico', cursive;
    color:#e91e63;
    font-size: 500%;
    text-align: center;
}
#about{
    color: black;
    text-align: center;
    font-family:'Pacifico', cursive;
}
#brief{
    text-align: center;
}
#button{
    align-items: center;
    margin-left: 600px;
}
#footer{
    margin-left: 600px;
}