#title{
    font-family:'Pacifico', cursive;
    color: white;
    font-size: 500%;
    text-align: center;
}
.intro{
    border-style: inset;
    height: auto;
    background-image: url("../img/karthik-garikapati-oBbTc1VoT-0-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#us{
    text-align: center;
    color: white;
}